@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root{
    --energyRed: #FF7235;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 50px 5px rgb(245, 248, 250);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s linear;
    scroll-behavior: smooth;
}

.hero-section{
    margin-top: 100px;
    height: 90vh;
    width: 100vw;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-section .left-hand-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    gap: 20px;
}

.hero-section .left-hand-side h2{
    color: var(--energyGrey);
    font-size: 26px;
    font-weight: 600;
}

.hero-section .left-hand-side .left-sub{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 45%;
    gap: 0;
}

.hero-section .left-hand-side .left-sub .hand{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    height: 70px;
    width: 70%;
}

.hero-section .left-hand-side .left-sub .hand img{
   width: 70px;
   height: 70px;
}

.hero-section .left-hand-side p{
    color: var(--energyBlack);
    font-weight: 700;
    font-size: 50px;
}



.hero-section .left-hand-side .latest-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 45%;
    font-size: 20px;
    padding: 5px;
    gap: 20px;
    background-color: var(--energyRed);
    color: var(--energyWhite);
    text-decoration: none;
    border-radius: 70px;
 }

 .hero-section .left-hand-side .latest-btn:hover{
    background-color: var(--energyDarkRed);
 }

 .hero-section .right-hand-side {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .hero-section .right-hand-side img{
    width: 100%;
    height: 70%;
 }