@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');


:root{
    --energyRed: #FF7235;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 50px 5px rgb(245, 248, 250);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s linear;
    scroll-behavior: smooth;
}

.hero{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .hero-section2{
    display: none;
}

.hero-section{
    margin-top: 100px;
    height: 90vh;
    width: 100vw;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.hero-section .left-hand-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    gap: 20px;
}

.hero-section .left-hand-side h2{
    color: var(--energyGrey);
    font-size: 26px;
    font-weight: 600;
}

.hero-section .left-hand-side .left-sub{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 45%;
    gap: 0;
}

.hero-section .left-hand-side .left-sub .hand{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    height: 70px;
    width: 70%;
}

.hero-section .left-hand-side .left-sub .hand img{
   width: 70px;
   height: 70px;
}

.hero-section .left-hand-side p{
    color: var(--energyBlack);
    font-weight: 700;
    font-size: 50px;
}



.hero-section .left-hand-side .latest-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 45%;
    font-size: 20px;
    padding: 5px;
    gap: 20px;
    background-color: var(--energyRed);
    color: var(--energyWhite);
    text-decoration: none;
    border-radius: 70px;
 }

 .hero-section .left-hand-side .latest-btn:hover{
    background-color: var(--energyDarkRed);
 }

 .hero-section .right-hand-side {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .hero-section .right-hand-side img{
    width: 100%;
    height: 70%;
 }

 @media (max-width: 500px){

    .hero .hero-section{
        display: none;
    }

    .hero .hero-section2{
        margin-top: 100px;
        height: 85vh;
        width: 90vw;
        background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        padding-top: 20px;
    }

    .hero .hero-section2 .hero-wrapper{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Poppins', sans-serif;
    }

    .hero .hero-section2 .hero-wrapper h2{
        color: var(--energyGrey);
        font-size: 12px;
        font-weight: 600;
        width: 100%;
        padding-left: 20px;
    }
    

    .hero .hero-section2 .hero-wrapper .top-sub{
        color: var(--energyBlack);
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        padding-left: 20px;
    }

    .hero .hero-section2 .hero-wrapper .top-sub p{
        width: 55px;
        height: 100%;
        font-size: 25px;
        position: relative;
        top: -15px;
    }

    .hero .hero-section2 .hero-wrapper .top-sub img{
        width: 14%;
        height: 40px;
        z-index: 2;
    }

    .hero .hero-section2 .hero-wrapper .collect{
        color: var(--energyBlack);
        font-size: 25px;
        font-weight: 600;
        width: 60%;
        position: relative;
        top: -25px;
        padding-left: 20px;
    }

    .hero .hero-section2 .hero-wrapper .hero-photo{
        width: 100%;
        height: 250px;
    }

    .hero .hero-section2 .hero-wrapper .hero-photo::after{
        content: "";
        width: 70%;
        height: 40px;
        background-color: var(--energyWhite);
        opacity: .7;
        position: absolute;
        bottom: 70px;
        left: 20%;
        z-index: 100;
    }

    .hero .hero-section2 .hero-wrapper .hero-photo img{
        width: 100%;
        height: 100%;
    }

    

     .hero .hero-section2 .hero-wrapper .latest-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        width: 55%;
        font-size: 12px;
        background-color: var(--energyRed);
        color: var(--energyWhite);
        text-decoration: none;
        border-radius: 70px;
        margin-top: 20px;
        padding: 3px;
     }
    
     .hero .hero-section2 .hero-wrapper .latest-btn:hover{
        background-color: var(--energyDarkRed);
     }


    
    /* .hero-section2 .left-hand-side{
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0 20px 20px;
        align-items: flex-start;
        gap: 0;
    }
    
    .hero-section .left-hand-side h2{
        color: var(--energyGrey);
        font-size: 12px;
        font-weight: 600;
    }
    
    .hero-section .left-hand-side .left-sub{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 10%;
        gap: 0;
        position: relative;
        top: -35px;
    }
    
    .hero-section .left-hand-side .left-sub .hand{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        height: 70px;
        width: 70%;
    }

    .hero-section .left-hand-side .left-sub .hand p{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100%;
        width: 30px;
        position: relative;
        top: -23px;
        font-size: 25px;
        color: var(--energyBlack);
        font-weight: 600;
    }
    
    .hero-section .left-hand-side .left-sub .hand img{
       width: 30px;
       height: 30px;
    }
    
    .hero-section .left-hand-side .collect{
        color: var(--energyBlack);
        font-weight: 600;
        font-size: 25px;
        position: relative;
        top: -40px;
    }
    
    
    
    .hero-section .left-hand-side .latest-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 50%;
        font-size: 12px;
        padding: 5px;
        background-color: var(--energyRed);
        color: var(--energyWhite);
        text-decoration: none;
        border-radius: 70px;
        position: relative;
        top: 230px;
     }
    
     .hero-section .left-hand-side .latest-btn:hover{
        background-color: var(--energyDarkRed);
     }
    
     .hero-section .right-hand-side {
        width: 90%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        top: -100px;
     }
    
     .hero-section .right-hand-side img{
        width: 90%;
        height: 100%;
     } */
 }