@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

:root{
    --energyRed: #FF7235;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
}

.breadcrum{
    width: 90vw;
    height: 100%;
    font-size: 17px;
    color: var(--energyBlack);
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.breadcrum .greater{
    color: var(--energyGrey);
    font-size: 17px;
}

@media (max-width: 500px){
    .breadcrum{
        width: 90vw;
        height: 100%;
        font-size: 10px;
        color: var(--energyBlack);
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 700;
        padding-left: 20px;
    }
    
    .breadcrum .greater{
        color: var(--energyGrey);
        font-size: 12px;
    }
}