@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

:root{
    --energyRed: #FF7235;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
}

.news-letters{
    width: 85vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    margin-top: 20px;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}

.news-letters h1{
    color: var(--energyDarkBlue);
    font-size: 20px;
    font-weight: 600;
}

.news-letters p{
    color: var(--energyDarkBlue);
    font-size: 15px;
}

.news-letters form{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.news-letters form input{
    height: 50px;
    width: 70%;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--energyGrey);
    padding-left: 10px;
}

.news-letters form input::placeholder{
    font-size: 14px;
}

.news-letters form button{
    background-color: var(--energyDarkBlue);
    color: var(--energyWhite);
    font-size: 17px;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.news-letters form button:hover{
    background-color: var(--energyGrey);
}


@media (max-width: 500px){

    .news-letters form button{
        background-color: var(--energyDarkBlue);
        color: var(--energyWhite);
        font-size: 17px;
        height: 50px;
        width: 40%;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        padding: 3px;
    }
}