@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --energyRed: #DA1314;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 50px 5px rgb(245, 248, 250);
}

*{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s linear;
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    width: 100%;
}


body{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}




.contacts{
    height: 70vh;
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contacts .myspan{
    height: 90%;
    width: 30%;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--energyLightGrey);
    border-radius: 20px;
}

.contacts .myspan i{
    color: white;
    font-size: 25px;
    background-color: var(--energyDarkBlue);
    border-radius: 50%;
    padding: 20px;
}

.contacts .myspan .fa-chevron-down{
    color: white;
    font-size: 25px;
    border-radius: 50%;
    padding: 3px;
}


.contacts .myspan h3{
    color: var(--energyDarkBlue);
}

.contacts .myspan hr{
    background-color: var(--energyDarkBlue);
    height: 2px;
    width: 70%;
}

.contacts .myspan p{
    color: var(--energyDarkBlue);
    font-size: 17px;
}

.contacts .myspan h5{
    color: var(--energyDarkBlue);
}

.contacts .myspan a{
    color: var(--energyDarkBlue);
    text-decoration: underline;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.map{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}



@media (max-width:500px) {

    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .icons{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    header .icons .fa-bars{
        display: block;
        color: #eee;
        cursor: pointer;
        font-size: 30px;
    }

    header .icons .fa-bars:hover{
        transform: rotate(180deg);
    }

    header .mobile-navbar-header .fa-times{
        display: block;
        cursor: pointer;
        color: white;
    }

    header .mobile-navbar-header img{
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }

    header form .fa-times:hover{
        transform: rotate(180deg);
    }


    .mobile-navbar{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        background-color: white;
        z-index: 1000;
        box-shadow: var(--box-shadow);
        position: fixed;
        top: 0;
        left: -100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all .7s ease-in-out;
    }

    .mobile-navbar.mobile-navbar-open{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        position: fixed;
        left: 0;
    }

    .mobile-navbar .mobile-navbar-header{
        height: 70px;
        background-color: var(--black);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
    }

    .mobile-navbar .mobile-navbar-items{
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }


    header .mobile-navbar .mobile-navbar-items a{
        color: white;
        background-color: var(--black);
        padding-left: 20px;
        width: 100%;
        height: 50px;
        font-size: 15px;
        display: flex;
        align-items: center;
    }


    header .navbar{
        display: none;
    }

    .logo{
        width: 150px;
    }


    .contacts{
        height: 1200px;
        width: 100%;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contacts .myspan{
        height: 30%;
        width: 90%;
        box-shadow: var(--box-shadow);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .contacts .myspan i{
        font-size: 25px;
        border-radius: 50%;
        padding: 20px;
    }
    
    .contacts .myspan .fa-chevron-down{
        font-size: 25px;
        border-radius: 50%;
        padding: 3px;
    }
    
    .contacts .myspan p{
        font-size: 17px;
    }
    
    .contacts .myspan a{
        text-decoration: underline;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    .map{
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }


    .map iframe{
        width: 90%;
        border-radius: 20px;
    }

}