

.content{
    margin-top: 150px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root{
    --energyRed: #DA1314;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 50px 5px rgb(245, 248, 250);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s linear;
    scroll-behavior: smooth;
    cursor: pointer;
}

.mobile-navbar{
    display: none;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--energyWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
}


header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--energyWhite);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .logo{
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo img{
    width: 50%;
    height: 35px;
}

header .logo #menu-btn{
    color: var(--myBlue);
    font-size: 30px;
    display: none;
}


header .desktopNav{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .desktopNav .myNav{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .desktopNav .myNav li{
    list-style: none;
}



header .desktopNav .myNav li a{
    color: var(--energyBlack);
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    padding: 5px;
    position: relative;

}

header .desktopNav .myNav li a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: var(--energyRed);
    transition: all .3s;
}

header .desktopNav .myNav li a:hover::after{
    width: 100%;
}

header .desktopNav .myNav li a.current::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: var(--energyRed);
}



header .desktopNav .engage{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .desktopNav .engage a{
    background-color: var(--energyRed);
    color: var(--energyWhite);
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    text-decoration: none;
    border-radius: 3px;
}


.services-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}

.services-container h1{
    position: relative;
    color: black;
    font-weight: 900;
}

.services-container h1 span{
    color: var(--energyRed);
    border-bottom: 6px solid var( --energyRed);
}

.services-container p{
    font-size: 20px;
    margin-top: 30px;
}



.sub-container{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
}

.services-container .sub-container .service-wrapper{
    position: relative;
    width: 90%;
    height: 400px;
    background: var(--energyLightGrey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 0 30px 0 30px;
}


.services-container .sub-container .service-wrapper .s-front{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-front h3{
    color: var(--energyRed);
    text-transform: capitalize;
}


.sub-container .service-wrapper img{
    width: 40%;
    height: 75%;
    border-radius: 5px;
}



.service-wrapper p{
    width: 100%;
    text-transform: none;
    text-align: left;
    padding: 10px 10px 20px 10px;
}




footer{
    width: 100%;
    height: 350px;
    background-color: var(--energyDarkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

footer .identity{
    width: 85%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

footer .identity img{
    width: 15%;
    height: 40px;
}

footer .identity .reach-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 70px;
}

footer .identity .reach-us .contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

footer .identity .reach-us .contact h5{
    font-size: 15px;
    color: var(--energyLightGrey);
    text-transform: uppercase;
}

footer .identity .reach-us .contact p{
    font-size: 17px;
    color: var(--energyLightGrey);
}

footer .identity .reach-us address{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
    height: 100%;
}

footer .identity .reach-us address h5{
    width: 69%;
    text-align: left;
    font-size: 15px;
    color: var(--energyLightGrey);
    text-transform: uppercase;
}

footer .identity .reach-us address p{
    font-size: 17px;
    color: var(--energyLightGrey);
    width: 100%;
    text-align: right;
}

footer hr{
    width: 85%;
    height: 1px;
    opacity: .2;
    background-color: var(--energyLightGrey);
    margin-top: 30px;
}

footer .copy-right{
    width: 85%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    color: var(--energyLightGrey);
    justify-content: center;
}

footer .copy-right span{
    color: var(--energyRed);
}







@media (max-width: 500px){

    html{
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    body{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    header{
        width: 100%;
        background-color: var(--energyWhite);
    }

    header .logo #menu-btn{
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    header .desktopNav{
        display: none;
    }


    header .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 30px 0 30px;
    }
    
    header .logo img{
        width: 30%;
        height: 35px;
        margin-left: 50px;
    }


    header .mobile-navbar{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 50px;
        top: 0;
        padding-left: 15px;
        width: 70vw;
        height: 100vh;
        background-color: var(--energyWhite);
        box-shadow: var(--boxShadow);
        left: -100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all .7s ease-in-out;
    }

    header .mobile-navbar.mobile-navbar-open{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        position: fixed;
        left: 0;
    }

    header .mobile-navbar .mobile-navbar-items{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
    }

    header .mobile-navbar .mobile-navbar-items a{
       width: 50%;
       background-color: transparent;
       color: var(--energyBlack);
       height: 40px;
       font-size: 17px;
       text-decoration: none;
       display: flex;
       align-items: center;
       padding-left: 10px;
    }

    header .mobile-navbar .mobile-navbar-items a:hover{
        background-color: var(--energyDarkBlue);
        color: var(--energyWhite);
     }

    header .mobile-navbar .engage{
        height: 40px;
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    header .mobile-navbar .engage a{
        width: 100%;
       background-color: var(--energyRed);
       color: white;
       height: 100%;
       font-size: 17px;
       text-decoration: none;
       display: flex;
       align-items: center;
       padding-left: 10px;
       border-radius: 5px;
    }

    header .mobile-navbar .engage a:hover{
       background-color: var(--energyDarkRed);
       color: white;
    }

    header .mobile-navbar #close{
        position: absolute;
        left: 90%;
        top: 10px;
        cursor: pointer;
        font-size: 30px;
    }

   
    .services-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        text-align: center;
    }
    
    .services-container h1{
        position: relative;
        color: black;
    }
    
    .services-container h1 span{
        color: var(--energyRed);
        border-bottom: 6px solid var( --energyRed);
    }
    
    .services-container p{
        font-size: 20px;
        margin-top: 30px;
    }
    
    
    
    .sub-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 100px;
    }
    
    .services-container .sub-container .service-wrapper{
        position: relative;
        width: 90%;
        height: 100%;
        background: #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        padding: 10px 0 10px 0;
    }
    
    
    .services-container .sub-container .service-wrapper .s-front{
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0;
    }
    
    .s-front h3{
        position: relative;
        top: 30px;
    }
    
    
    .sub-container .service-wrapper img{
        width: 90%;
        height: 30%;
        border-radius: 5px;
    }
    
    
    
    .service-wrapper p{
        width: 100%;
        text-transform: none;
        text-align: left;
        font-size: 16px;
    }
    
    



    footer{
        width: 100%;
        height: 100%;
        background-color: var(--energyDarkBlue);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px 0 30px 0;
    }
    
    footer .identity{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 20px;
    }
    
    footer .identity img{
        width: 50%;
        height: 40px;
    }
    
    footer .identity .reach-us{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
    
    footer .identity .reach-us .contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
    
    footer .identity .reach-us .contact h5{
        font-size: 15px;
        color: var(--energyLightGrey);
        text-transform: uppercase;
    }
    
    footer .identity .reach-us .contact p{
        font-size: 17px;
        color: var(--energyLightGrey);
    }
    
    footer .identity .reach-us address{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
    
    footer .identity .reach-us address h5{
        font-size: 15px;
        color: var(--energyLightGrey);
        text-transform: uppercase;
    }
    
    footer .identity .reach-us address p{
        font-size: 17px;
        color: var(--energyLightGrey);
    }
    
    footer hr{
        width: 90%;
        height: 1px;
        opacity: .2;
        background-color: var(--energyLightGrey);
        margin-top: 30px;
    }
    
    footer .copy-right{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        font-size: 12px;
        color: var(--energyLightGrey);
        opacity: .7;
    }
    
    footer .copy-right span{
        color: var(--energyRed);
    }
}