@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root{
    --energyRed: #FF7235;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
}

.App{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}